
	body 
		{
        background-color: #171e1e;
		font-family: Arial, Helvetica, sans-serif;
		margin-left:30%;
		margin-right:30%;
		border: 8px solid #ffffff;
		margin-bottom: 5px;
		padding: 0px 0px 0 0px;
		}
        
        input[type="text"], input[type="password"] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
		}
	hr 
		{
		border: 1px solid #ffffff;
		margin-bottom: ;
		}
	.registerbutton
		{
        background-color: #66fcac;
		color: white;
		padding: 12px 15px;
		margin: 10px 0px;
		border: none;
		cursor: pointer;
		width: 100%;
		text:bold;
		}
        .registerbutton:hover{
            background-color: black;
        }

    .registration{
        border: 2px;
        border-color: aliceblue;
        background-color: #ffffff;
    }
  