.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    flex-grow: 1;
    font-size: 16px;
}
.search-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
}
.navbar{
    
        list-style-type: none;
        margin: 0;
        padding: 0;
    
}
body {
    background-image: url("bg3");
  }
  nav {
    background-color: #66FCF1;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    margin: 0;
    padding: 0;
  }
  
  nav a {
    display: block;
    color: #1F2833;
    padding: 15px;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: #ddd;
    color: #1F2833
    
  }
  textarea { 
    resize: none; }
